.header__index
{
    display: block;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto', sans-serif;

    &__img{
        box-shadow: 0 3px 3px rgba(202, 202, 202, 0.75);
        position: relative;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 170px;
            height: 35px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    &__localisation
    {
        display: flex;
        width: 100%;
        align-items: center;
        background-color:darken($color-bg-grey, 3%);
        p
        {
            display: block;
            margin-right: auto;
            margin-left: 17px;
            font-weight: bold;
        }
        i{
            display: block;
            margin-left: auto;
        }
    }
}