.corps__restaurant
{
    display: flex;
    flex-direction: column;
    background-color: $color-bg-grey;
    
}
.restaurant__img
{
    width: auto;
    position: relative;
    img
    {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}
.restaurant
{
    display: flex;
    flex-direction: column;
    background-color: $color-bg-grey;
    padding: 10px;
    position: relative;
    bottom: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    &__heading
    {
        display: flex;
        justify-content: space-between;
        &__titre
        {
            font-family: $police2;
        }

        &__icon
        {
           @include like;
        }
    }
    &__menu
    {
        @include desktop-only{
        display: flex;
        justify-content: space-around;
        width: auto;
        
    }
        @include tablet-only{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: auto;
        }
    }

        
    &__bloc
    {
        display: flex;
        flex-direction: column;

        @include desktop-only {
            width: 30%;
        }
        @include tablet-only {
            width: 40%;
        }
        &__titre
        {
            font-size: 0.95em;
            padding-bottom: 6px;
            width: 37px;
            font-weight: normal;
            border-bottom-width: 3px;
            border-bottom-color: $color-tertiary;
            border-bottom-style: solid;
        }
        
    }
    &__container
    {
        display: flex;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0px 8px rgba(202, 202, 202, 1);
        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        
        
        &__td
        {
            display:flex;
            flex-direction: column;
            overflow: hidden;
            flex-grow: 1;
            padding: 10px;
            &__titre
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-bottom: 5px;
                margin-top: 0px;
                
            }
            &__description
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top: 0px;
                margin-bottom: 0px;
                
                
            }
        }
        &__prix
        {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-weight: bold;
            padding: 10px;
            

        }
        &__anim
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #99E2D0;
            height: auto;
            width: 60px;
            margin-right: -60px;
            transition-duration: 1s;

            i 
            {
                color: white;
                font-size: 20px;
            }
        }

        &:hover .restaurant__container__anim {
            margin-right: 0;
        }
    
        &:hover .fa-regular.fa-circle-check {
            transform: rotate(360deg);
            transition-duration: 1s;
        }

    }
    &__anim1
    {
        opacity: 0;
        animation: TranslateUp 1s ease-in-out 1s 1 normal forwards;

    @keyframes TranslateUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        33% {
            opacity: 0.33;
        }

        66%{
            opacity: 0.66;
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    }
    &__anim2
    {
        opacity: 0;
        animation: TranslateUp 1s ease-in-out 2s 1 normal forwards;

    @keyframes TranslateUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        33% {
            opacity: 0.33;
        }

        66%{
            opacity: 0.66;
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    }
    &__anim3
    {
        opacity: 0;
        animation: TranslateUp 1s ease-in-out 3s 1 normal forwards;

    @keyframes TranslateUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        33% {
            opacity: 0.33;
        }

        66%{
            opacity: 0.66;
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    }
    &__anim4
    {
        opacity: 0;
        animation: TranslateUp 1s ease-in-out 3s 1 normal forwards;

    @keyframes TranslateUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        33% {
            opacity: 0.33;
        }

        66%{
            opacity: 0.66;
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    }
    &__btn
    {
        margin-top: 20px;
        margin-bottom: 30px;
        @include btn-type;
    }
}

