@mixin btn-type
{
    display: block;
        background: linear-gradient(-5deg,$color-primary 10%,$color-secondary);
        background-color: dimgray;
        color: $color-bg-white;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        box-shadow: 0 3px 3px rgba(202, 202, 202, 0.75);
        border-radius: 20px;
        border: transparent;
        cursor: pointer;
        &:hover
        {
            background: linear-gradient(-5deg,$color-primary 10%,$color-secondary, rgb(23, 23, 23) 140%);
            box-shadow: 0 6px 6px rgba(202, 202, 202, 0.75);
            transition-duration: 0.15s;
        }
}
@mixin like
{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
    font-size: 1.4em;
    .fa-solid.fa-heart
    {
        display: none;
    }
    &:hover
    {
        .fa-regular.fa-heart
        {
            display: none;
        }
        .fa-solid.fa-heart
        {
            display: flex;
            position: relative;
            z-index: 1;
            color: $color-primary;
        }
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints,tablet)){
        @content;
    }
}