$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$color-bg-grey:#F2F2F2;
$color-bg-white: white;
$color-bg-black: black;

$police:'Roboto',sans-serif;

$breakpoints:(
    mobile: 768px,
    tablet: 992px,
    desktop: 993px,
);